@page "/admin-dashboard"

<PageTitle>Healthcare Admin</PageTitle>

<div class="top-row">

    <div class="top-row-left">
        <i class="bi bi-house"></i>
        <p>&nbsp;&nbsp;/&nbsp;&nbsp; </p>
        <p>Healthcare Dashboard</p>
    </div>

    <div class="top-row-right">
        <div class="icon-box">
            <i class="bi bi-calendar-check"></i>
        </div>
        <p>04/28/2025 - 05/27/2025</p>
    </div>

</div>

<div class="medical-section">
        <!-- Doctor Information -->
        <div class="doctor-info">
            <h1 class="doctor-name">Dr. Laura Jaden</h1>
            <p class="doctor-title">Dentist, BDS, BChD</p>
            <p class="patient-stat">
                Increased patients by <span class="stat-number">90</span> in the last Seven days.
            </p>
            <button class="book-btn">Book Appointment</button>
        </div>
        <div class="card-img">
            <img src="images/card-image.png" width="300"/>
        </div>
</div>


@* <!-- Available Treatments -->
<div class="treatments-section">
    <h2 class="treatments-title">Available Treatments</h2>
        <div class="treatments-grid">
            <div class="treatment-item">
                <div class="treatment-icon cardiology">🫀</div>
                <span class="treatment-name">Cardiology</span>
            </div>
            <div class="treatment-item">
                <div class="treatment-icon orthopedic">🦴</div>
                <span class="treatment-name">Orthopedic</span>
            </div>
            <div class="treatment-item">
                <div class="treatment-icon neurology">🧠</div>
                <span class="treatment-name">Neurology</span>
            </div>
            <div class="treatment-item">
                <div class="treatment-icon dentist">🦷</div>
                <span class="treatment-name">Dentist</span>
            </div>
            <div class="treatment-item">
                <div class="treatment-icon pediatrics">👶</div>
                <span class="treatment-name">Pediatrics</span>
            </div>
        </div>
</div> *@