<div class="top-row ps-3 navbar navbar-dark text-center">
    <div class="container-fluid">
        <img src="images/caresync-logo.png" width="40"/>
        @* <i class="bi bi-hospital" style="font-size: 1.8rem; line-height: 1; margin-top: -4%;"></i> *@
        <a class="navbar-brand" href="">CareSync</a>
    </div>
</div>
<hr class="mt-1"/>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div>
            <section>
                <div class="profile-icon">
                    <img src="images/user-icon.png" width="60"/>
                </div>
                <p class="profile-name">Avishka Shehan</p>
                <p class="profile-designation">System Supper Admin</p>
            </section>
            <hr/>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/admin-dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-hospital" style="font-size: 1.5rem; line-height: 1;"></i>
                    <span>Healthcare Admin</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/medical-dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-heart-pulse" style="font-size: 1.5rem; line-height: 1;"></i>
                <span>Medical Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/clinic-dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-file-earmark-medical" style="font-size: 1.5rem; line-height: 1;"></i>
                <span>Clinic Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/appointment" Match="NavLinkMatch.All">
                <i class="bi bi-calendar-heart" style="font-size: 1.5rem; line-height: 1;"></i>
                <span>Appointment</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/patient-profile" Match="NavLinkMatch.All">
                <i class="bi bi-person-vcard" style="font-size: 1.5rem; line-height: 1;"></i>
                <span>Patient Profile</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/doctor-profile" Match="NavLinkMatch.All">
                <i class="bi bi-postcard-heart" style="font-size: 1.5rem; line-height: 1;"></i>
                <span>Doctor Profile</span>
            </NavLink>
        </div>
    </nav>
</div>

